<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Alumnos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

     
</head>
 
<body>
   <div id="appMateria">
   <div class ="container-fluid" >
     <form @submit.prevent="guardarInscripciones"method="post" id="frmInscripcion" >
           <div class="card mb-3">
               <div class="card-header text-white bg-dark">
                  Inscribir Materias
                  
               </div>
               <div class="card-body">
                 <div class="row p-1">
                  <div class="col col-md-1">Codigo Materia</div>
                <div class="col col-md-2">
                    <input v-model="inscripcion.codigo" placeholder="Codigo Materia" pattern="[A-Z0-9]{3,10}" required title="Codigo de minscripcion" class="form-control" type="text">
                 </div>
             </div>
             <div class="row p-1">
                <div class="col col-md-1">Nombre</div>
              <div class="col col-md-2">
                  <input v-model="inscripcion.nombre" placeholder="Nombre Alumno" pattern="[A-Za-zÑñáéíóú ]{3,75}" required title="Nombre Alumno" class="form-control" type="text">
               </div>
           </div>
          
           
                <div class="row p-1">
                 <div class="col col-md-1">Nombre Materia 1</div>
               <div class="col col-md-2">
                   <input v-model="inscripcion.nombrem1" placeholder="Nombre Materia" pattern="[A-Za-zÑñáéíóú ]{3,75}" required title="Materia nombre" class="form-control" type="text">
                </div>
            </div>
            <div class="row p-1">
                <div class="col col-md-1">Nombre Materia 2</div>
              <div class="col col-md-2">
                  <input v-model="inscripcion.nombrem2" placeholder="Nombre Materia" pattern="[A-Za-zÑñáéíóú ]{3,75}" required title="Materia nombre" class="form-control" type="text">
               </div>
           </div>
           <div class="row p-1">
            <div class="col col-md-1">Nombre Materia 3</div>
          <div class="col col-md-2">
              <input v-model="inscripcion.nombrem3" placeholder="Nombre Materia" pattern="[A-Za-zÑñáéíóú ]{3,75}" required title="Materia nombre" class="form-control" type="text">
           </div>
       </div>
       <div class="row p-1">
        <div class="col col-md-1">Fecha Inscripcion</div>
        <div class="col col-md-2">
            <input v-model="inscripcion.fechai" placeholder="Fecha de inscripcion" 
            required title="fecha inscripcion de materia" class="form-control" type="date">
           
        </div>
    </div>
            
          
            <div class="row">
                <div class="col col-md-3 text-center">
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        {{inscripcion.msg}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-5 text-center">
                    <button type="submit" class="btn btn-success" style="border-radius: 10px; color: white; border-color: white; margin-top: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                      </svg> Guardar</button>
                    <button type="reset" class="btn btn-primary" style="border-radius: 10px; color: white; border-color: white; margin-top: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                      </svg> Nuevo</button>
             
                    <a href="alumnos.html" class="btn btn-danger" style="border-radius: 10px; color: white; border-color: white; margin-top: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                      </svg> Regresar</a>
                </a>
                </div>
            </div>
        </div>
       </form>
       <div class="card mb-3" id="cardBuscarInscripciones">
        <div class="card-header text-white bg-dark">
            Busqueda de Inscripciones

            <button type="button" class="btn-close bg-white" data-bs-dismiss="alert" data-bs-target="#cardBuscarInscripcion" aria-label="Close"></button>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <td colspan="6">
                            Buscar: <input title="Introduzca el texto a buscar" @keyup="buscarInscripcion" v-model="buscar" class="form-control" type="text">
                        </td>
                    </tr>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Materia 1</th>
                        <th>Materia 2</th>
                        <th>Materia 3</th>
                        <th>Fecha inscripcion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in inscripciones":key="item.idInscripcion" @click="modificarInscripcion(item)">
                        <td>{{item.codigo}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.nombrem1}}</td>
                        <td>{{item.nombrem2}}</td>
                        <td>{{item.nombrem3}}</td>
                        <td>{{item.fechai}}</td>
                        <td>
                            <button type="button" class="btn btn-danger" @click="eliminarInscripcion(item)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                              </svg> Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="ins_materia.js"></script>
</body>
</html>

   
